.card {
    height: 100px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Gentle shadow */
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Slightly more pronounced shadow on hover */
  }

  /* New style for taller cards */
  .card-tall {
    height: 300px;
    border-radius: 25px; /* Specify your desired height */
  }

  /* New style for taller cards */
  .novedades {
    grid-column: span 2;
  }
  
  /* New style for taller cards */
  .card-tall.pizarra {
    background-color: #9e9e9e;
  }

  .card-bottom{
    height: 150px;
  }

  .tablero-control{
    grid-column: span 3;
  }

  .card-header {
    position: relative; /* Add this line */
    display: flex;
    justify-content: space-between;
    height: 60%;
    align-items: center;
    /* Other styles */
  }
  
  .corner-vector {
    position: absolute;
    content: url('assets/card-icons/threepointoptions.svg');
    height: 15px;
    width: 15px;
    top: -10px;
    right: 0px;
    /* Adjust size as needed */
  }
  
  .arrow-rise {
    height: 20px;
    width: 20px;
  }
  
  .card-title {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    /* Other styles */
  }
  
  .card-points {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Montserrat';
    color: green;
    /* Other styles */
  }
  
  .card-body {
    font-weight: 800;
    font-family: 'Montserrat';
    /* Other styles */
  }
    
  .card-body {
    font-size: 2vw; /* Responsive font size */
  }
  
  /* Set a maximum font size */
  @media (min-width: 1800px) {
    .card-body {
      font-size: 35px;
    }
  }

  @media (max-width:767px)  {
    
    .card {
        flex: 0 0 40%;
        scroll-snap-align: start;
        /* Add styles for your cards */
      }
    
    .card-body {
      font-size: 20px;
    }

    .carousel-buttons {
      text-align: center;
      margin-top: 10px; /* Adjust as needed */
    }

    .carousel-btn {
      display: inline-block;
      width: 20px; /* Adjust size as needed */
      height: 20px; /* Adjust size as needed */
      border-radius: 50%; /* Make it circular */
      background-color: #6d6c6c; /* Adjust color as needed */
      margin: 0 5px; /* Adjust spacing as needed */
      border: none; /* Remove default border */
      cursor: pointer;
    }

    /* Active button colors */
    .active-btn {
      background-color: #00588ED9; /* Green when next is active */
    }
    
  }


  .header-news {
    background-image: url('assets/card-icons/news header common.png');
    background-size: cover; /* Asegúrate de que la imagen cubra todo el encabezado */
    background-position: center; /* Centra la imagen en el encabezado */
    color: white;
    width: 110%;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .header-blue {
    background-image: url('assets/card-icons/blue header common.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 1.2em;
  }

  .row-cardprices {
    display: flex;
    justify-content: space-between;
    height: 45%;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .card-news {
    width: calc(66% - 5px);
    border-radius: 30px;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Gentle shadow */
  }

  .card-sub {
    width: calc(33% - 5px);
    border-radius: 20px;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Gentle shadow */
  }

  .news-header {
    color: white;
    padding: 10px; /* Ajusta el padding según sea necesario */
    display: flex;
    align-items: center;
  }
  
  .sub-card-content {
    padding: 20px; /* Ajusta el padding según sea necesario */
  }
  
  .price-and-icon {
    display: flex;
    align-items: center;
  }
  
  .price {
    font-size: 24px; /* Ajusta el tamaño de fuente según sea necesario */
    margin-right: 10px; /* Ajusta el margen según sea necesario */
  }
  
  .plus-icon {
    position: absolute;
    bottom: -15px; /* Ajusta la posición según sea necesario */
    right: -15px; /* Ajusta la posición según sea necesario */
  }

  .principal-news{
    left: -25px;
    top: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    width: 110%;
    text-align: center;
    text-transform: uppercase;
    background-color: #01ae43;
    line-height: 25px;
  }