.body {
  background-color: #f3f3f442; /* Semi-transparent red overlay */
}

  /* Estilo para el contenido principal */
  .main-content {
    padding-top: 10px;
  }

  .top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  .mainheader {
    position: fixed;
    top: 50px; /* Adjust left position as needed */
    width: 100%;
    height: 110px;
    background-image: url('assets/pexels-soo-ann-woon-3265437 1.svg');
    background-color: #00588ED9;
    background-blend-mode: multiply;
    z-index: 0;
  }

  .page-title {
    position: fixed;
    left: 250px; /* Adjust left position as needed */
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
  }

  .overlay-div {
    position: fixed;
    top: 112px; /* Adjust top position as needed */
    left: 250px; /* Adjust left position as needed */
    right: 3%;
    bottom: 6%;
    width: calc(100%-3%); /* Set width to 100% minus the desired margin */
    height: calc(100%-6%); /* Adjust height as needed */
    /*background-color: rgba(255, 0, 0, 0.5); /* Semi-transparent red overlay */
    z-index: 1; /* Ensure the overlay-div is in front of the mainheader */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px; /* Adjust gap between grid items */
    padding-bottom: 20px;
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-left: 250px;
    gap: 10px;
  }
  
  .user-icon {
    /* Adjust the width and height as needed */
    width:22px; 
    height:22px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-weight: bold;
  }
  
  .user-cellphone {
    color: grey;
  }

  .carousel-container {
    overflow-x: auto;
    white-space: nowrap; /* Prevents cards from wrapping to the next line */
  }

  @media (max-width:767px)  {

    .overlay-div {
      position: fixed;
      top: 90px; /* Adjust top position as needed */
      left: 3%; /* Adjust left position as needed */
      right: 3%;
      bottom: 6%;
      width: calc(100%-3%); /* Set width to 100% minus the desired margin */
      height: calc(100%-6%); /* Adjust height as needed */
      /*background-color: rgba(255, 0, 0, 0.5); /* Semi-transparent red overlay */
      z-index: 1; /* Ensure the overlay-div is in front of the mainheader */
    }

    .carousel-container {
      max-width: 100%;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }
    
    .grid-container {
      display: flex;
    }

    .top {
      display: none;
    }

    .mainheader{
      display: none;
    }



  }