@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.content {
  display: flex;
  flex-direction: column;
  height: 88%;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}

.content > .topcard {
  display: flex;
  justify-content: flex-end;
  height: 10%;
  background-color: white;
}

.content > .middle::before,
.content > .middle::after {
  position:relative;
  width: 0;
  height: 0;
  border-style: solid; /* Ensure triangles are behind the content */
}
.content > .middle::before {
  left: 0; /* Position at the bottom left */
  bottom: 0;
  border-width: 20px 10px 0 0;
  border-color: transparent #00588E transparent transparent;
}

.content > .middle::after {
  right: 0; /* Position at the top right */
  top: 0;
  border-width: 0 10px 20px 0;
  border-color: transparent transparent #00588E transparent;
}

.content > .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  background: #00588E;
  background-position-x: center;
  width: calc(93% + 20px); /* Add 10 pixels on each side */
  margin-left: -10px; /* Pull content to the left by 10 pixels */
  margin-right: -10px; /* Pull content to the right by 10 pixels */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: left;
  line-height: 0.1;
  img {
    width: 60%;
  }

  div > p:first-child {
    color: #ffffff;
    font-size: 90%;
    font-weight: 700;
    font-family: 'Open Sans';
  }
  
  div > p:last-child {
    color: #ffffff;
    font-size: 160%;
    font-weight: 700;
    font-weight: bold;
  }
}

.content > .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 0.3;
  padding-top: 5px;
  
  div > p{
    text-align: left;
    font-size: 90%;
  }

  .plus-icon {
    display: flex;
    position:relative;
    justify-content: flex-end;
    right: 5px;
    width: 20px; 
    height: 20px; 
    bottom: 5px;
  }
}

